
.bit-input{
    width:60%;
    margin-left:5%;
}
#address-cidr-input{
    width:30%;
    
}
.cidr-input{
    width:30%;
    
}
.info-icon{
    top:6px;
}
.green{
    background-color:green;
    color:white;
}
.table-row:hover{
    cursor: pointer;
    background-color: gray;
}