/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Montserrat:500,700");
body {
    margin: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.standard-button{
    background-color: #B6163D;
    height: 50px;
    width: 300px;
    color: white;
    font-size: 1em;
    font-family: 'Montserrat', Roboto;
    font-weight: 500;
}
.standard-button:hover{
    background-color: #193058;
    cursor: pointer;
}
.standard-button:disabled{
    background-color:rgb(141, 17, 48);
    cursor:not-allowed;
}
.container{
    margin:5%;
}
.reload-button{
    width:40px;
    height:40px;
    object-fit: contain;
    border: 1px solid black;
    margin-left: 50px;
    transition-duration: 0.5s;
}
.reload-button:hover{
    cursor: pointer;
    transform:scale(1.1);
}
.red-background{
    background-color: red !important;
}
.green-background{
    background-color: rgb(0, 212, 0) !important;
}
.red-color{
    color:red !important;
}
.green-color{
    color:green !important;
}
.info-icon{
    width: 30px;
    height: 30px;
    object-fit: contain;
    margin-left: 20px;
    position: relative;
    top: 10px;
}
.mat-tooltip{
    font-size: 1em !important;
}
.row{
    display: flex;
}
.column{
    width:50%;
}
.column-30{
    width:30%;
}
.column-40{
    width:40%;
}