<div class="container">
    <div class="aufgaben-selector" [routerLink]="['/crc']">
        <img src="../../assets/Bildschirmfoto 2020-04-22 um 11.57.35.png" alt="">
        <h2 class="aufgaben-name">
            CRC Berechnung
        </h2>
    </div>
    <div class="aufgaben-selector" [routerLink]="['/ip-address']" >
        <img src="../../assets/Bildschirmfoto 2020-05-24 um 14.30.30.png" alt="">
        <h2 class="aufgaben-name">
            IP-Address Berechnung
        </h2>
    </div>
    <div class="aufgaben-selector" [routerLink]="['/routing']" >
        <img src="../../assets/Bildschirmfoto 2020-06-17 um 14.51.15.png" alt="">
        <h2 class="aufgaben-name">
            Routing Tabelle
        </h2>
    </div>
</div>