#nav-background {
    width: 100%;
    height: 80px;
    background-color: white;
    box-shadow: 0px 0px 10px 1px #ccc;
}
#blue-navbar {
    width: 100%;
    height: 20px;
    background-color: #193058;
}
#navbar>ul {
    list-style-type: none;
    margin: 0;
}
#navbar {
    margin-top: 10px;
    font-size: 2em;
}
.nav-item {
    color: #B6163D;
    text-decoration: none;
}